
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">
          <%= post.escape("title") %> - $<%= post.escape("price")%> (<%= post.escape("location") %>)
        </h4>
        <p><span class="small-font">posted on </span>
           <%= post.escape("created_at")%>
           <span class="small-font"> by </span>
           <span class="exit-modal fake-link" data-url="#users/<%= post.escape("user_id") %>/posts"><%= post.escape("authorUsername")%></span>
      </div>
      <div class="modal-body">
        <% if (post.attributes.imageUrls.length !== 0) {%>
          <div id="post-pictures">
            <%= JST["_carousel"]({photos: post.get("mediumImageUrls")})%>
          </div>
        <% } %>
        <p class="post-body">
          <%= post.escape("body") %> 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn star-post-btn" data-id="<%= post.id %>">
          <%= JST["_previewStar"]({postId: post.id})%> Post
        </button>
        <button type="button" class="btn star-author-btn" data-authorid="<%=post.escape("user_id")%>">
          <% console.log ('in detail') %>
         <%= JST["_authorStar"]({authorId: post.escape("user_id")})%> Author
        </button>
        <button type="button" class="btn">Email Author</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->