<!DOCTYPE html>
<html>
<head>
  <title>JjList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="login-form">
      <% if logged_in? %>
        <%= render partial: "layouts/logout", locals: {}%>
      <% else %>
        <%= render partial: "layouts/login", locals: {} %>
      <% end %>
    <div>
  </div>
  
  <%= flash[:notice] if flash[:notice] %>
<%= yield %>

</body>
</html>
