<!DOCTYPE html>
<html>
<head>
  <title>JjList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
  <body>
    <div class="container">
        
      <div id="header" class="row">
        <div class="col-md-12">
          <div class="navbar navbar-fixed-top" id="header-nav">
            <% if logged_in? %>
              <%= render partial: "layouts/logout", locals: {}%>
            <% else %>
              <%= render partial: "layouts/login", locals: {} %>
            <% end %> 
          </div>
        </div>
      </div>
  
      <div id="middle" class="row">
        <div class="col-md-12">
          <%= flash[:notice] if flash[:notice] %>
          <%= yield %>  
        </div>
      </div>
    
      <div id="footer" class="row">
        <div class="col-md-12">
          <div id="footer-nav" class="navbar navbar-fixed-bottom">
            place ABOUT link        footer!!!!<br>   
            place CARRERS link 
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
