<!DOCTYPE html>
<html>
<head>
  <title>JjList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
</head>
  <body>
    <div class="container">
      
      <div class="row" id="header"> 
        <div class="col-md-12">
          <div class="navbar navbar-fixed-top" id="header-nav">
            <div>
              <a class="navbar-text site-link" href="<%=welcome_url %>">jj's List</a>
            </div>
            <% if logged_in? %>
              <%= render partial: "layouts/logout", locals: {}%>
            <% else %>
              <%= render partial: "layouts/login", locals: {} %>
            <% end %>             
          </div>      
        </div> 
      </div>
        

      <div class="row" id="middle">
        <div class="col-md-12">
          <%= flash[:notice] if flash[:notice] %>
          <%= yield %>  
        </div>
      </div>
    
      <div class="row" id="footer">
        <div class="col-md-12">
          <div id="footer-nav" class="navbar navbar-fixed-bottom">

          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
